nav{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: var(--colormenu);
    cursor: url(../assets/truck_cursor.png) 0 0, pointer;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 120px;
    height: 80px;
    display: flex;
}
.imglogo{
    width: 100%;
    height: 100%;
}