.hero{
    background-image: url(../assets/truck1.jpg);
    background-size: cover;

}
/* portada */
.title{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 2px;
}
.title :hover{
    scale: 1.2;
    transition: 1s all;
}
h1{
    font-size: 50px;
}

.motto{
    position: absolute;
    top: 15px;
    color: white;
}
.logotruck{
    display: none;
}

.wave{
    display:none;
}

.flota_picture{
    width: 350px;
    height: 250px;
}

.flota_img{
    height: 100%;
    width: 100%;
}

.description_flota{
    height: 100dvh;
    
}
/* footer */
footer{
    height: 200px;
}

.logo_footer{
    width: 350px;
    height: 200px;
}
.truck_footer{
    width: 100%;
    height: 90%;
}
/* formulario */
.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap:1rem;
}

.form_column{
    display: flex;
    flex-direction: column;
}
/* Acá cambio a fila para que no quede tan desprolijo y esté todo en una línea. si no me gusta, cambiarlo */
.form_row{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    
}

.label_date{
    padding-left: 0.25rem;
}

.label_cuil{
    padding-right: 0.25rem;
}

#experiencia{
    width: 100%;
}

.experiencia_container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}