/* header */
.hero{
    height: 100vh;
    background-color: var(--colorportada);
    padding: .1px;
    
}
/* header logo */
a{
    text-decoration: none;
    text-transform:capitalize;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* header nav */
nav{
    background-color:rgb(59, 111, 6);
    display:flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 60px;
   
}

.logotef{
    display:flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.icon_menu{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    align-items: center;
}
.list_menu{
    display: none;
    
}
/* Que se cierre y se abra el menú, LO LOGRÉEEEE!! Felicitaciones Vikaaaaa*/
#menu:target .list_menu{
    display:flex;
    flex-direction: column;
    background-color:rgb(59, 111, 6);
    align-items: center;
    gap:20px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    margin: 0;

}
/* con esto hago que NO se vea el ícono de cierre */
.close{
    display:none;
}

/* cuando hago clic en el ícono de abrir, el ícono se deja de ver para que me muestra el ícono de cierre. Buscarle una transición */
#menu:target .open{
    display: none;
}

#menu:target .close{
    display:block
}

/* título y truck logo */

.portada{
    display: flex;
    flex-wrap: wrap;
    height:876px;
    margin-top: 60px;
    flex-direction: column;
}


h1{
    font-size: 80px;
    font-weight: bolder;
    
    
}
.title{
    width: 100%;
    text-align: center;
    
}

.logo{
    height: 300px;
    width: 100%;
    align-self:flex-end;
    /* flex-basis: 400px; */
    background-image: url(../assets/truck_logo.png);
    background-repeat: no-repeat; 
    background-size: contain;
}

section{
    height: 100vh;

}
#nuestra_flota{
    background-color: lightblue;
}

#quienes_somos{
    background-color: rgb(40, 40, 100);
}
