/* header */
.hero{
    height: 100vh;
    background-color: var(--colorportada);
    padding: .1px;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    
}
/* header logo */
nav a{
    text-decoration: none;
    text-transform:capitalize;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* header nav */
nav{
    width: 100%;
    background-color: var(--colornav);
    margin-top: -20px;
    display:flex;
    flex-wrap: wrap;
    position: fixed;
    height: 60px;
    cursor: url(../assets/truck_cursor.png) 0 0, pointer;
    /* padding: 20px; */
   
}

.logotef{
    display:flex;
    align-items: center;
    width: 50%;
    height: 100%;
}


.icon_menu{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    align-items: center;
}
.list_menu{
    display: none;
    
}
/* Que se cierre y se abra el menú, LO LOGRÉEEEE!! Felicitaciones Vikaaaaa*/
#menu:target .list_menu{
    display:flex;
    flex-direction: column;
    background-color:var(--colornav);
    align-items: center;
    gap:20px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    margin: 0;
    

}

/* con esto hago que NO se vea el ícono de cierre */
.close{
    display:none;
}

/* cuando hago clic en el ícono de abrir, el ícono se deja de ver para que me muestra el ícono de cierre. Buscarle una transición */
#menu:target .open{
    display: none;
}

#menu:target .close{
    display:block
}

/* título + truck logo + wave*/

.portada{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}


h1{
    font-size: 80px;
    font-weight: bolder;
    
    
}
#title{
    width: 100%;
    height: 400px;
    text-align: center;
    
}

.logo{
    height: 300px;
    width: 100%;
    justify-content: center;
}

.truck_logo{
    width: 100%;
    height: 100%;
}

.wave{
    position: absolute;
    bottom:0 ;
}


/* sections */

section{
    height: 100vh;

}
#nuestra_flota{
    background-color: #0e3d10af;
    width: 100%;
    max-width: 1954px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}

.flota_container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.flota_picture{
    flex: 200px;
    width: 150px;
    height: 150px;
}
.flota_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px;
}

.gallery_title{
    font-size: 30px;
    margin-bottom: 1em;
    text-align: center;
}


#quienes_somos{
    background-color: var(--color_qs);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 25px;


}
.cards{
    min-width: 300px;
    height: 250px;
    border-radius: 15px 5px;
    background-color: rgb(208, 208, 151);
    text-align: center;
}

footer{
    width: 100%;
    height: 160px;
    background: rgb(110,110,110);
    background: linear-gradient(0deg, rgba(110,110,110,1) 0%, rgba(255,225,225,1) 34%, rgba(110,110,110,1) 100%);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: relative;
    
}

.logo_footer{
    position: absolute;
    display: flex;
    width:150px ;
    height: 100%;
}
.truck_footer{
    height: 100%;
    width: 140px;
    position: absolute;    
}

.text_footer{
    position: absolute;
    bottom: 0;
}

.links_footer{
    height: 150px;
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    text-align: left;
    padding: 10px 30px ; 
}

footer a{
    display: block;
    justify-content: center;
    color: black;
    text-decoration: none;

}