@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Raleway:wght@100&display=swap');
@import url(./normalize.css);
@import url(./mobile.css); 
@import url(./tablet.css)screen and (min-width:600);
@import url(./desktop.css)screen and (min-width:1020);
/* @import url(./mobile.css); */

/* ajustes generales */

:root{
    --fonthtml:'Manrope', sans-serif;
    --colorfont: white;
    --colorportada:rgb(255, 165, 0);
    --colornav: purple;
    --colorlogo:rgb(241, 141, 241);
    --color_flota:#ffffff;
    --color_flotatext:rgb(255, 238, 0);
    --color_qs:#282864;

}

html{
    font-family: var(--fonthtml);
    scroll-behavior: smooth;
}

#menu ul {
    list-style: none;
    
}
